.new_post_container{
  max-height: 150px;
}
.new_post_title a{
  color: #e42b20;
}
.contentIndent{
  margin-left: 20px;
  margin-top: 12px;
  margin-bottom: 16px;
}
.white{
  background: white;
}
.postShadow{
  box-shadow: 0px 0px 6px 0px #afafaf;
}
.labelW{
  display: inline-block;
  width: 20%;
}
.inputW{
  display: inline-block;
  width: 70%;
}
.inputW input{
  width: 100%;
}
