<h1 class="centereText fwTopmargin col-xs-12">Recent comments</h1>
<% @comments.each do |theComments| %>
  <div class="new_comment_container col-md-8 col-md-offset-2 col-xs-12 centereText">
    <p style="margin-bottom:0;">
      <b> <%= theComments.user.username%> </b>
      commented <br>
      " <i class="commentBlue"><%= theComments.text%></i> "
    </p>
    <p class="dib">on &nbsp;<p class='inlineArefRed'> <%= link_to theComments.post.title, item_path(theComments.post)%></p> &nbsp; <%= prettyDate(theComments.created_at)%></p>
  </div>
<%end%>
