<div class="fwTopmargin centereText">
  <h3>About the Devs</h3>
  <div class="col-xs-12 col-md-6 devBox">
    <img  class="circleImg" src="https://scontent-syd2-1.xx.fbcdn.net/v/t31.0-8/26756580_10215220543768064_1004440131516414916_o.jpg?_nc_cat=0&oh=bccbb4d1e813338ea1b86dc6fad4eb17&oe=5B9CBAA9" alt="">
    <h4 class="redtexr">Anthony Carnell</h4>
    <h6 class="muted">s3395415</h6>
    <div class="blurbText">

      Anthony is a student who has undertaken the course of R.A.D in hopes to expand his knowledge on his favourite type of technologies, web.

      Typically working in JS he has decided to venture further and dive into different avenues of expressing his ideas in different languages.
    </div>
  </div>
  <div class="col-xs-12 col-md-6 devBox">
    <img  class="circleImg" src="https://scontent-syd2-1.xx.fbcdn.net/v/t31.0-8/30167684_1912327198779433_8697727716571630279_o.jpg?_nc_cat=0&oh=4efcd9009435e5597280c0c6a531ce6e&oe=5B8B6F31" alt="">
    <h4 class="redtexr">Jay Males</h4>
    <h6 class="muted">s3486715</h6>
    <div class="blurbText">
      Jay is currently studying for his bachelor of Information and Technology at Rmit, with the ambition of getting a career in back end web development.
    </div>
  </div>
</div>
